/* CARD CONTENT */
.card {
  border-radius: 0.5em;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: flex;
}
.card-child-container {
  width: 100%;
  height: 100%;
}
.card-child-container-active {
  width: 100%;
  height: 100%;
}

.card-child-container-preview {
  width: 60vw;
  height: 60vh;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: #00000038 0px 0px 50px 10px;
}

.card-edit {
  border: 1px solid blue;
  box-shadow: none;
}
.card-display {
  border: 1px solid rgba(255, 255, 255, 0.294);
  box-shadow: 0 8px 32px 0 rgba(49, 49, 49, 0.37);
}

.card-preview {
  border: 3px solid red;
  background-color: rgba(0, 0, 0, 0);
  width: 60vw;
  height: 40vw;
}

.card-fullscreen {
  pointer-events: all;
}

.card-footer {
  background-color: grey;
  color: white;
  position: absolute;
  left: -250px;
  width: 10vw;
  height: fit-content;
  padding: 0.5em;
}

.card-empty {
  border: 1px dashed blue;
  display: flex;
}

.card-locked {
  z-index: 1;
  background: repeating-linear-gradient(
    45deg,
    rgba(169, 169, 169, 0.493),
    rgba(169, 169, 169, 0.493) 5px,
    #46529800 5px,
    #46529800 20px
  );
}

.card-empty-hidden {
  display: none;
}
/* CARD INFO */
.info-display {
  height: 0;
  overflow: hidden;
}

.info-hidden {
  height: 0;
  overflow: hidden;
}
/* CARD INFO */
.info-preview {
  height: 10%;
}
/*  */
iframe {
  overflow: hidden;
}

.portal-node-preview {
  width: 60vw;
  height: 60vh;
}
.portal-node-fullscreen {
  width: 100vw;
  height: 100vh;
}

.return-button-container {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 4vh;
  display: flex;
  justify-content: center;
  background-color: red;
  padding: 0.25em;
}

.card-modal-backdrop {
  transition: width 0.5s ease-out, height 0.5s ease-out;
  background-color: rgba(255, 255, 255, 0);
  /* background-color: #00000029; */
}

.card-modal-backdrop-active {
  background-color: rgba(0, 0, 0, 0.109);
  width: 100vw;
  height: 100vh;
  transition: width 0.5s ease-out, height 0.5s ease-out,
    background-color 2s ease-out;
}
.card-modal-backdrop-inactive {
  width: 100%;
  height: 100%;
  position: absolute;
  /* top: 0; */
  /* left: 0; */
}
