#editor-panel-container {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  pointer-events: none;
}

/* EDITOR DRAGGABLE */
.editor-panel {
  pointer-events: all;
  overflow: hidden;
  background-color: #2d2d2d;
  border: 1px solid black;
  transition: width 0.5s, height 0.5s;
  color: white;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.editor-panel-minimized {
  width: 10rem;
  height: fit-content;
}

.editor-body-full {
  height: 100%;
}
.editor-body-minimized {
  height: 0;
}

.editor-panel-full {
  width: 30vw;
  height: 500px;
}
.hidden {
  display: none;
}

.editor {
  flex-direction: column;
  position: absolute;
}

.editor-hidden {
  display: none;
}

.editor-minimized {
  height: 10px;
}

/* EDITOR FORM */
.editor-form-container {
  height: 100%;
  width: 100%;
  padding-bottom: 0.25em;
}

.react-draggable {
  border-radius: 1%;
  overflow: hidden;
  border: 1px solid white !important;
  transition: height 0.2s ease-in;
}

.panel-header {
  width: 100%;
  cursor: grab;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid black;
  background-color: #1f1f1f;
  height: 2em;
}

.window-button {
  width: 15px;
  position: relative;
  padding: 0.25em;
}

.window-button svg {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(50%, 50%);
}
