#editor-panel-container {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  pointer-events: none;
}
/* ///////////////////////////////////////// */
/* EDITOR DRAGGABLE */
.editor-panel {
  pointer-events: all;
  overflow: hidden;
  background-color: var(--ui-bg);
  border: 1px solid var(--ui-border);
  transition: width 0.5s, height 0.5s;
  color: var(--ui-text);
  border-radius: var(--ui-radius);
  box-shadow: var(--ui-shadow);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "body";
}

.editor-panel-full {
  width: 500px;
  height: 500px;
}
.editor-panel-minimized {
  width: 10rem;
  height: 34px;
  /* height: fit-content; */
}
.hidden {
  display: none;
}
/* ///////////////////////////////////////// */
/* HEADER */
.header-container {
  height: 100%;
  grid-area: header;
}
.panel-header {
  width: inherit;
  height: 100%;
  cursor: grab;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid black;
  background-color: #1f1f1f;
  height: 35px;
}

.window-button {
  width: 15px;
  position: relative;
  padding: 0.25em;
}

.window-button svg {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(50%, 50%);
}

/* ///////////////////////////////////////// */
/* BODY */
.body-container {
  grid-area: body;
  height: 100%;
}
.editor-body-full {
  height: 100%;
}
.editor-body-minimized {
  height: 0;
}

/* ///////////////////////////////////////// */

.editor-hidden {
  display: none;
}

.editor-minimized {
  height: 10px;
}

/* EDITOR FORM */
.editor-form-container {
  height: 100%;
  width: 100%;
  padding-bottom: 0.25em;
}

.react-draggable {
  border-radius: 1%;
  overflow: hidden;
  border: 1px solid white !important;
  transition: height 0.2s ease-in;
}

.react-tabs {
  display: flex;
  flex-direction: column;
  width: inherit;
}
.react-tabs__tab {
  border-radius: 5px 5px 0 0;
  border: 1px solid white !important;
  border-bottom: 0px solid white !important;
  display: inline-flex !important;
}

.react-tabs__tab-panel--selected {
  height: 100%;
}
.react-tabs__tab:hover[aria-selected="false"] {
  background-color: #535353;
}

.react-tabs__tab-panel {
  display: flex;
  flex-flow: column;
}

.contents-tab-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.table-container {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}
