.google-form-popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  z-index: 1999;
  height: fit-content;
  max-height: 80%;
  background-color: #2d2d2d;
  /* overflow: hidden; */
  overflow: visible;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  transition: height 0.5s ease-out;
}

.google-form-popup iframe {
  /* height: 60em; */
}

.copy-field-container-class {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.copy-field-container-closed {
  height: 0;
  overflow: hidden;
}

.google-form-iframe {
}
