/* Iframe view overlay used for displaying a loading animation */
.iframe-view-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity .5s; 
}

.iframe-view-overlay-hidden {
  /* display: none; */
  display: flex;
  pointer-events: none;
  opacity: 0;
  transition: opacity .5s; 
  outline: 4px solid white;
}
.player-wrapper{
  /* display: flex; */

}
.iframe-view-overlay-loading {
  position: absolute;
  display: flex;
  /* background: radial-gradient(grey, lightgrey); */
  justify-content: center;
  background-color: grey;
  /* background-color: red; */
}

/* Centers Loader */
.iframe-view-overlay svg {
  margin: auto;
}

.iframe-view-overlay :nth-child(1) {
  display: flex;
  margin: auto;
}

.iframe-container{
  height: 100%
}

.iframe-container-hidden{
  display: none;
}

.card-child-container-preview{
  transform: translate(-50%, -50%);
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: slide-in-top 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* .iframe */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translate(-50%,-100%);
            transform: translate(-50%,-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translate(-50%,-100%);
            transform: translate(-50%,-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
}
