.modal {
  transition: width 0.5s ease, height 0.5s ease;
}

/* .modal-full-screen { */
/* left: 0 !important; */
/* top: 0 !important; */
/* width: 100vw !important; */
/* height: 90vh !important; */
/* } */

.modal-content-container {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* width: 50vw; */
  /* height: 40vw; */
  width: 100vw;
  height: 100vh;
  height: 100vh;
  /* width: fit-content; */
  background-color: rgba(255, 255, 255, 0);
}
.modal-content-container :nth-child(2) div {
  /* border: 1px solid red; */
  height: 100%;
}
.modal-backdrop-active {
  width: 100vw;
  height: 100vh;
  background-color: #00000000;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
  z-index: 10;
}
/* 
.modal-backdrop-active :nth-child(0) div {
  border: 1px solid red !important;
  height: 100%;
} */
