.modal {
  transition: width 0.5s ease, height 0.5s ease;
}

.modal-content-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: var(--shadow);
  z-index: 100000;
}
.modal-content-container :nth-child(2) div {
  height: 100%;
}
.modal-backdrop-active {
  width: 100vw;
  height: 100vh;
  background-color: #00000000;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
  z-index: 10;
}
