table {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid black;
}

tr {
  background-color: #393939;
  border-bottom: 1px solid black;
  height: 1em;
  max-width: 100%;
  min-width: 100%;
}

.table-container {
  height: fit-content;
}
table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.row-favicon {
  padding: 0.5em;
}

th {
  background-color: #1f1f1f;
  color: #ffffff;
  text-align: center;
  height: 3em;
  padding: 0.25em;
}

td {
  text-align: center;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: color 0.25s ease-out;
}
.status-indicator {
  width: 10%;
}

/* card is not currently in the grid */
.content-row-inactive {
  color: darkgrey;
  transition: color 0.5s ease-out;
}
/* card is in the grid */
.content-row-active {
  /* color: red; */
  color: darkgrey;
  background-color: #393939;
  transition: color 0.5s ease-out;
}

.layout-row-active {
  font-weight: bold;
  background-color: grey;
  /* background-color: red; */
  /* outline: 1px solid var(--success); */
}
.layout-row-active {
  font-weight: bold;
  /* background-color: red; */
  /* outline: 1px solid var(--success); */
}
