/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
:root {
  --radius: 0.5em;
  --shadow: 0 8px 32px 0 rgba(49, 49, 49, 0.37);
  --inactive: rgb(169 169 169 / 52%);
  --inactive-pattern: repeating-linear-gradient(
    45deg,
    rgba(169, 169, 169, 0.493),
    rgba(169, 169, 169, 0.493) 5px,
    #46529800 5px,
    #46529800 20px
  );
}
#portal {
  z-index: 10;
}
body {
  position: relative;
  color: black;
  height: 100vh;
  width: 100vw;
  /* background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  ); */
  background-color: gray;
  font-family: sans-serif;
  /* overflow-y: hidden; */
  contain: layout;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.grid-area {
  width: 150vw;
  height: 120vh;
}

.box {
  border: 1px solid #f00;
}

.wrapper {
  border: 1px solid #000;
}
.div {
  height: 100%;
}

/* REACT GRID LAYOUT */
.react-draggable {
  overflow: visible !important;
}
/* .react-draggable .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIGlkPSJkcmFnYXJyb3ciIHZpZXdCb3g9IjAgMCAxMiAxMiIgc3R5bGU9ImJhY2tncm91bmQtY29sb3I6IzAwMDAwMDAwIiB2ZXJzaW9uPSIxLjEiCgl4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWw6c3BhY2U9InByZXNlcnZlIgoJeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjEycHgiCj4KCTxnIG9wYWNpdHk9IjEiPgoJCTxwYXRoIGQ9Ik0gMTIgMTIgTCAwIDEyIEwgMCA5IEwgOSA5IEwgOSA5IEwgOSAwIEwgMTIgMCBMIDEyIDEyIEwgMTIgMTIgWiIgZmlsbD0iIzAwNjc3RiIvPgoJPC9nPgo8L3N2Zz4=);
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
  transform: none !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  -moz-transform: none !important;
  overflow: visible;
} */
.react-draggable .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  /* bottom: 0; */
  /* right: 0; */
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-color: red;
  border-radius: 50%;
  cursor: se-resize;
  transform: none !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  -moz-transform: none !important;
  overflow: visible;
}

.react-resizable-handle-w {
  bottom: 0;
  left: 0;
}
.react-resizable-handle-se {
  bottom: 0;
  right: 0;
}
.react-resizable-handle-e {
  bottom: 0;
  left: 0;
}
.react-resizable-handle-ne {
  bottom: 0;
  left: 0;
}
.react-grid-item {
  display: flex;
  overflow: visible;
}

.react-grid-item div {
  width: 100%;
}

.react-grid-item.react-grid-placeholder {
  background: green;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.centered-flex {
  display: flex;
  justify-content: center;
}

/* REACT COLLAPSIBLE */
.Collapsible {
  background-color: white;
}

.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid #ebebeb;
  border-top: 0;
}
.Collapsible__contentInner p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid #eeeeee;
}
.Collapsible__contentInner p:last-child {
  margin-bottom: 0;
}

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: #333333;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background: #00ac9d;
  color: white;
}
.Collapsible__trigger:after {
  font-family: "FontAwesome";
  content: "\f26e";
  position: absolute;
  right: 100px;
  top: 10px;
  display: block;
  transition: transform 300ms;
}
.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg);
}
.Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey;
}

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 200ms ease;
}

.CustomTriggerCSS--open {
  background-color: darkslateblue;
}

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #cbb700;
  color: black;
}
