.scale-controls-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.scale-controls-left {
  grid-area: 1 / 1 / 6 / 4;
}
.scale-controls-right {
  grid-area: 1 / 10 / 6 / 13;
}

.scale-controls-input {
  grid-area: 1 / 4 / 6 / 10;
  width: min-content;
}
